<!DOCTYPE html>

<html>
<head>
    <title>tests</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,700' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="javascripts/lib/modernizr.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script type="text/javascript" src="javascripts/lib/angular.js"></script>
</head>
<body>
<noscript>
	<header><h1>This site is intended to be viewed with JavaScript enabled; please check that your browser settings have JavaScript enabled.</h1></header>
</noscript>

<header>
	<h1>Judy A. Downey</h1>
</header>
<nav role="navigation" class="meta">
	{{#each sections}}
		<li><a href="#{{{id}}}" class="nav">{{{id}}}</a> </li>
	{{/each}}
</nav>

<main role="main">

	{{#each sections}}
        <section id="{{{id}}}">
	        {{#each gallery}}
		        <img src="/images/gallery/{{ ../id }}/{{{this}}}" />

	        {{/each}}

        </section>
	{{/each}}


</main>


<footer>
	<p>*Lorem ipsum dolor sit amet, consectetur adipderp elite, sed do derp a derp incidid unt ut, derpa swaga derp et dolore magna carta jay z.Lorem ipsum dolor sit amet, consectetur adipderp elite, sed do derp a derp incidid unt ut, derpa swaga derp et dolore magna carta jay z.Lorem ipsum dolor sit amet, consectetur adipderp elite, sed do derp a derp incidid unt ut, derpa swaga derp et dolore magna carta jay z.Lorem ipsum dolor sit amet, consectetur adipderp elite, sed do derp a derp incidid unt ut, derpa swaga derp et dolore magna carta jay z.</p>
</footer>
<script src="/javascripts/lib/jquery.js"></script>
<script src="/javascripts/script.js"></script>
</body>
</html>